nav{
    position: absolute;
    z-index: 2;
    padding: 2rem;
    background-color: #d5fca2;
    right: 2rem;
    bottom: 2rem;
    height: 322px;
    width: 322px;
    border-radius: 1rem;
    cursor: pointer;
    transform-origin: right bottom;
    clip-path: circle(10% at 90% 90%);
    transition: all .7s ease-in-out;

    &:hover{
        clip-path: circle(12.5% at 86% 86%);
    }

    &.active{
        clip-path: circle(150% at 90% 90%);
    }


    .menu_absolute{
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    @include flex(0,column,center,center);

    span{
        height: 1.5px;
        width: 100%;
        background-color: #0d0d0b;
        transition: transform .5s ease-in-out;
    }

    span:nth-of-type(1){
        transform: rotate(90deg);

        &.active{
        transform: rotate(45deg);
        }
    }

    span:nth-of-type(2){
        &.active{
        transform: rotate(-45deg);
        }
    }
}

 ul{
    list-style-type: none;
    @include flex(1rem,column,flex-start,flex-start);

   li{
    a{
        text-decoration: none;
        font-size: 2rem;
        color: #0d0d0b;
        opacity: 0;
        transition: opacity .6s ease-in-out;

        &:hover{
            color: #0d0d0b82;
        }

        &.active{
            opacity: 1;
        }
     }
   }

   li:first-of-type{
    a{
        color: #0d0d0b82;
    }
   }
 }

}